body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    color: #00FF00;
    font-family: monospace;
    font-size: 16px;
}

#content {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    animation: fadeIn 2s ease forwards;
    overflow: hidden;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}